<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>测试主体结构的标签</title>
		<link media="screen and (min-width:900px)" type="text/css" rel="stylesheet" href="layout_900.css" />
		<link media="screen and (max-width:900px) and (min-width:600px)" type="text/css" rel="stylesheet" href="layout_600.css" />
		<link media="screen and (max-width:600px) and (min-width:320px)" type="text/css" rel="stylesheet" href="layout_320.css" />
	</head>

	<body>
		<header></header>
		<nav></nav>
		<div class="container">
			<aside></aside>
			<article></article>
			<div class="section">
				<section></section>
				<section id="s2"></section>
			</div>
		</div>
		<footer></footer>
	</body>

</html>